# Planteamiento del problema

* Generar un DF con una o varias tablas de una URL diferente a las vistas en la sesi√≥n
* Generar un DF de alumnos o alumnas de la tabla alumnos de la base bdcolegio02 del servidor bd.arcelia.net

## SQL

In [3]:
#Importamos pandas
import pandas as pd

In [7]:
#Armamos la conexion a la base de datos con todos los atributos
from sqlalchemy import create_engine

us = 'fesalu'
passwd = 'bdfes2023'
url = 'bd.arcelia.net'
puerto = '3306'
bd = 'bdcolegio02' #Cambio de Base de Datos
auth = 'mysql_native_password'

str_conn = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
str_conn = str_conn.format(us, passwd, url, puerto, bd, auth)
#Comprobamos que nuetra conexion es correcta
str_conn

'mysql+mysqlconnector://fesalu:bdfes2023@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password'

In [8]:
#Creacion del objeto de conexion
conn=create_engine(str_conn)
conn

Engine(mysql+mysqlconnector://fesalu:***@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password)

In [10]:
sql = '''SELECT * FROM alumnos'''
df_mysql=pd.read_sql(sql,con=conn)

In [11]:
df_mysql

,clave_alu,clave_admin,ap_paterno,ap_materno,nombre,sexo,curp,peso,estatura,direccion,colonia,cp,ciudad,id_estado,delegacion,telefono,celular,email,status_alu,fedita
0,11030172,4812,BORBOLLA,RAMOS,ARGELIA,F,,52.0,1.60,CLUB CAMPESTRE #867,CLUB CAMPESTRE,26190,QUERETARO,22,QUERETARO,4455497989,9612497989,argi_gogos@miemail.com,AC,2021-11-21 20:08:41
1,11030173,4849,CASTRO,MANCERA,KARLA MARIANA,F,,0.0,0.00,LAGO DE XOCHIMILCO 666,LOMAS DE SAN PABLO,26130,SANTIAGO DE QUERETARO,22,QUERETARO,,,,AC,2021-11-07 22:02:27
2,11030177,4716,FERRUSCA,ANDRADE,OCTAVIO,M,,62.0,1.68,MARQUES DE BARCELO #608,LOMAS DEL MARUQES,26146,QUERETARO,22,QUERETARO,4458114845,9618114845,tavoferrus_11@miemail.com,AC,2021-10-15 16:23:00
3,11030178,4720,GARCIA,GOMEZ,RAFAEL,M,220140190055288,55.0,1.82,PAJAROS # 687,CALESA SEGUNDA SECCION,26020,QUERETARO,22,QUERETARO,4451986967,9611986967,arobertogarcia@telmart.net.mx,AC,2021-10-25 09:22:33
4,11030180,5380,GUTIERREZ,FLORES,CARLOS DAVID,M,GUFC910124HDFTLR04,60.0,1.75,CIRCUITO SAN IGNACIO 670 INT 6,FRACCIONAMIENTO SANTIAGO,26129,QUERETARO,22,SANTIAGO DE QUERETARO,4455558865,9612558865,chorok_skp91@miemail.com,AC,2021-09-27 21:52:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,12080002,,MEDINA,GUTIERREZ,OSCAR,,,0.0,0.00,,,,,11,,,,,EX,2023-04-15 20:48:37
804,14080001,,MEJIA,JIMENEZ,LUISA,,,0.0,0.00,,,,,11,,,,,EX,2023-04-15 20:48:37
805,14080002,,MEJIA,JIMENEZ,LUISA,,,0.0,0.00,,,,,11,,,,,EX,2023-04-15 20:48:37
806,14080003,,MEJIA,JIMENEZ,LUISA,,,0.0,0.00,,,,,11,,,,,EX,2023-04-15 20:48:37
807,14080004,,MEJIA,JIMENEZ,LUISA,,,0.0,0.00,,,,,11,,,,,EX,2023-04-15 20:48:37

In [16]:
sql = '''SELECT * FROM alumnos WHERE sexo = %s '''
df_mysql=pd.read_sql(sql,con=conn, params=['M'])#Obtenemos todos los alumnos que sean hombres
df_alumnos_Hombres=df_mysql #Creacion de un nuevo DATAFRAME

In [17]:
df_alumnos_Hombres

,clave_alu,clave_admin,ap_paterno,ap_materno,nombre,sexo,curp,peso,estatura,direccion,colonia,cp,ciudad,id_estado,delegacion,telefono,celular,email,status_alu,fedita
0,11030177,4716,FERRUSCA,ANDRADE,OCTAVIO,M,,62.0,1.68,MARQUES DE BARCELO #608,LOMAS DEL MARUQES,26146,QUERETARO,22,QUERETARO,4458114845,9618114845,tavoferrus_11@miemail.com,AC,2021-10-15 16:23:00
1,11030178,4720,GARCIA,GOMEZ,RAFAEL,M,220140190055288,55.0,1.82,PAJAROS # 687,CALESA SEGUNDA SECCION,26020,QUERETARO,22,QUERETARO,4451986967,9611986967,arobertogarcia@telmart.net.mx,AC,2021-10-25 09:22:33
2,11030180,5380,GUTIERREZ,FLORES,CARLOS DAVID,M,GUFC910124HDFTLR04,60.0,1.75,CIRCUITO SAN IGNACIO 670 INT 6,FRACCIONAMIENTO SANTIAGO,26129,QUERETARO,22,SANTIAGO DE QUERETARO,4455558865,9612558865,chorok_skp91@miemail.com,AC,2021-09-27 21:52:05
3,11030188,4857,MARTINEZ,RIVERA,JAVIER JOSUE,M,MARJ910422HQTRVV01,52.0,1.66,ASUNCION NO. 698,EL ROSARIO,26128,QUERETRO,22,QUERETARO,0444458817907,0449618817907,c_h_a_p_a_r_r_o-pi_cha_ka@miemail.com,AC,2022-10-11 20:23:14
4,11030199,4769,ROSALES,APREZA,NESTOR MARTIN,M,,53.0,1.63,RIO BALSAS #707,LOS ARQUITOS,26050,QUERETARO,22,QUERETARO SUR,0444458591085,0449618291082,nestoriwh@hotmai.com,AC,2021-09-22 17:57:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,11080203,,VILLAGRANA,BARRAGAN,CARLOS IVAN,M,VIBC911114HDFLRR06,61.0,1.72,MARQUES DE LAS AMARILLAS NO. 687,LOMAS DEL MARQUES,26146,QUERETARO,22,SANTIAGO DE QUERETARO,4458517765,9618517765,chino-vergoza@miemail.com,AS,2023-03-08 16:53:59
395,11080204,,AGUILLON,RESENDIZ,JOSE,M,AURJ941216HQTGSS06,57.0,160.00,EULOGIO MARROQUIN 707,CANDILES,26190,QUERETARO,22,CORREGIDORA,4458170450,9618170420,blackjarrior_9412@miemail.com,AS,2023-03-10 11:05:13
396,11080206,,NAVA,TORRES,LEONARDO JESUS,M,NATL9408HDFVRN05,0.0,0.00,PASEO DE MOSCU #868,TEJEDA,26190,QUERETARO,22,SANTIAGO DE QUERETARO,4458770708,9618770708,leo94-88@infinitum.com.mx,AS,2023-03-11 19:56:28
397,11080207,,LOPEZ,AGUILAR,DANIEL,M,LOAD940404HBCPGN06,0.0,0.00,HDA DE LOS MORALES # 707,RINCON DE LOS ARCOS,36636,IRPUATO,12,IRAPUATO,4651551906,4621251906,marydm72@miemail.com,AS,2023-03-07 11:17:06
398,11080210,,GUERRERO,COLOMBRES,ALDO ENRICO,M,GUCA960125HDFRLL09,44.0,1.59,AVENIDA PE,SAN PEDRITO PE,,SANTIAGO DE QUERETARO,22,,5585511084,5582211084,colombresm@att.com.mx,AS,2023-04-15 20:48:37

---
---
---
---

## HTML

In [31]:
data_url='https://leagueoflegends.fandom.com/es/wiki/Lista_de_campeones'
df_lol=pd.read_html(data_url)#ubica todo lo que esta en formato tabular y lo encapsula en unA LISTA
print(type(df_lol))#Nos devuelve una lista de data frames
df_lol

<class 'list'>

[         0                                                  1
 0    Color                                         Definici√≥n
 1    Verde                    Reducci√≥n del costo de EA o RP.
 2     Rojo            Pr√≥xima reducci√≥n del costo de EA o RP.
 3  Naranja  Incluido en el Paquete Edici√≥n Digital de Cole...
 4     Azul                  Incluido en el Paquete Campeones.,
                                Campe√≥n        Clases Fecha de Lanzamiento  \
 0             Aatrox, la Espada Darkin        Coloso           2013-06-13
 1      Ahri, la Vastaya de Nueve Colas        R√°faga           2011-12-14
 2            Akali, la Asesina Furtiva       Asesino           2010-05-11
 3         Akshan, el Centinela Rebelde       Tirador           2021-07-22
 4                Alistar, el Minotauro    Vanguardia           2009-02-21
 ..                                 ...           ...                  ...
 151     Zed, el Maestro de las Sombras       Asesino           2012-11-13
 152   Ziggs, el Experto en Hexplosivos    Artiller√≠a           2012-02-01
 153     Zilean, el Guardi√°n del Tiempo  Especialista           2009-04-18
 154     Zoe, el Aspecto del Crep√∫sculo        R√°faga           2017-11-21
 155  Zyra, el Despertar de las Espinas     Atrapador           2012-07-24

     √öltimo Cambio  Esencia Azul  Riot Points
 0          V11.19          4800          880
 1          V11.12          3150          790
 2          V11.19          3150          790
 3          V11.19          6300          975
 4          V11.11          1350          585
 ..            ...           ...          ...
 151        V11.18          4800          880
 152        V11.16          4800          880
 153        V11.14          1350          585
 154        V11.18          6300          975
 155        V11.13          4800          880

 [156 rows x 6 columns],
                       0                                                  1
 0                   NaN                                                NaN
 1  Campeones Cancelados  Ao Shin ¬†Avasha ¬†Averdrian ¬†CeeCee ¬†Cyborg Cow...]

In [32]:
df_campeones=df_lol[1]#Obtenemos el primer elemento de la lista
df_campeones#Nuevo data frame de todos los campeones de Leag of Legends

,Campe√≥n,Clases,Fecha de Lanzamiento,√öltimo Cambio,Esencia Azul,Riot Points
0,"Aatrox, la Espada Darkin",Coloso,2013-06-13,V11.19,4800,880
1,"Ahri, la Vastaya de Nueve Colas",R√°faga,2011-12-14,V11.12,3150,790
2,"Akali, la Asesina Furtiva",Asesino,2010-05-11,V11.19,3150,790
3,"Akshan, el Centinela Rebelde",Tirador,2021-07-22,V11.19,6300,975
4,"Alistar, el Minotauro",Vanguardia,2009-02-21,V11.11,1350,585
...,...,...,...,...,...,...
151,"Zed, el Maestro de las Sombras",Asesino,2012-11-13,V11.18,4800,880
152,"Ziggs, el Experto en Hexplosivos",Artiller√≠a,2012-02-01,V11.16,4800,880
153,"Zilean, el Guardi√°n del Tiempo",Especialista,2009-04-18,V11.14,1350,585
154,"Zoe, el Aspecto del Crep√∫sculo",R√°faga,2017-11-21,V11.18,6300,975
155,"Zyra, el Despertar de las Espinas",Atrapador,2012-07-24,V11.13,4800,880